body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  max-width: 200Px;
}
ul{
  padding: 0;
  margin: 2em 2em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
form {
  margin : 0 auto;
  text-align: center;
  padding: 3em 0 0.5em;
}